 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.body1{
  display: grid;
  height: 100vh;
  width: 100%;
  place-items: center;
  }

.loginbox{
  background: rgb(247, 241, 241);
  color: black;
  max-width: 350px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  place-items: center;
 
}
.loginbox form .title{
  font-size: 30px;
  font-weight: 6000;
  margin: 20px 0 10px 0;
}

.loginbox form .input-box{
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}
.loginbox form .input-box input{
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 16px;
  border: none;
}


.loginbox form .button{
  margin: 40px 0 20px 0;
}
.loginbox .input-box input[type="submit"]{
  background-color: rgb(194, 7, 122);
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
  
}
.loginbox .input-box input[type="submit"]:hover{
  background: linear-gradient(to left, #99004d 0%, #ff0080 100%);
}
.loginbox form a{
 text-decoration: none;
 font-size: 12px ;
 line-height: 20px;
 color: #3a7bd19d;
}
.loginbox form a:hover{
  color: #99004d;
}
 
header{
  background-color: rgb(248, 246, 248);
  overflow: hidden;
  border-radius: 0 0 50px 50px;
  padding: 40px 40px 20px;
  box-shadow: 0 -5px 27px 0 rgba(128,128,128,0.15);
  width: 320px;
  border-radius: 0 0 20px -15px black;
  margin: auto;  
}

.banner{
  height: 100vh;
  width: 100%;
  background-image: url("bagrounf.jpg");
  background-attachment:  fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar{
width: 85%;
margin: auto;
padding: 35px 0;
display: flex;
align-items: center;
justify-content: space-between;
}
.logo{
  width: 120px;
  cursor: pointer;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20%;
}
.navbar ul li a{
  text-decoration: none;
  color: #ff0080;
  text-transform: uppercase;
}
